---
import { Image } from "astro:assets";
const { solutions } = Astro.props;

---

<div class="container mx-auto px-8">
        {solutions.map((solution, index) => (
            <div
                class={`flex flex-col gap-y-12 mb-12 items-center ${index % 2 === 0 ? 'md:flex-row' : 'md:flex-row-reverse'} w-full gap-x-8 md:gap-x-12`} id={solution.id}
            >
                <!-- Texte -->
                <div class="md:w-1/2">
                    <p class="mb-3 text-gray-300 text-5xl font-semibold sm:text-6xl md:text-5xl lg:text-7xl xl:text-8xl 2xl:text-9xl">
                        {solution.number}
                    </p>
                    <h3 class="mb-8 text-sky-700 text-4xl sm:text-5xl tracking-tighter font-bold md:text-4xl lg:text-6xl xl:text-6xl 2xl:text-7xl">
                        {solution.title}
                    </h3>
                    <p class="text-xl leading-normal sm:text-3xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl">
                        {solution.text}
                    </p>
                    <ol class="pl-12 pt-8 list-disc text-xl sm:text-3xl md:text-2xl md:pl-7 lg:text-3xl lg:pl-12 xl:text-4xl 2xl:text-5xl 2xl:pl-16">
                        {solution.lists.map((list) => (
                            <li>{list}</li>
                        ))}
                    </ol>
                </div>
                
                <!-- Image -->
                <div class="md:w-1/2">
                    <Image src={solution.src} alt={solution.alt} class="h-full w-full" />
                </div>
            </div>
        ))}
</div>