---
import { Image } from "astro:assets";
import akdag from "../content/img/logos/akdag.png";
import djKara from "../content/img/logos/djKara.png";
import anaEntreprise from "../content/img/logos/anaEntreprise.png";
import okanManagement from "../content/img/logos/orkanManagement.png";
import orgelet from "../content/img/logos/orgelet.png";
import seral from "../content/img/logos/seral.png";
---

<section class="pt-16 pb-8">
    <div class="max-w-screen-xl mx-auto px-8">
        <h2
            class="text-2xl text-gray-600 text-center tracking-tighter font-medium uppercase mb-12"
        >
            Nos partenaires
        </h2>
        <div class="flex justify-around items-center">
            <Image src={akdag} alt="logo akdag" class="h-48" />
            <Image src={djKara} alt="logo djKara" class="h-48" />
            <Image src={anaEntreprise} alt="logo anaEntreprise" class="h-72" />
            <Image
                src={okanManagement}
                alt="logo okanManagement"
                class="h-48"
            />
            <Image src={orgelet} alt="logo orgelet" class="h-48" />
            <Image src={seral} alt="logo seral" class="h-48" />
        </div>
    </div>
</section>
