---
import aySolutionLogo from "../content/img/logos/ay-solution.png";

import FooterBrand from "./FooterBrand.astro";
import FooterContact from "./FooterContact.astro";
import FooterItem from "./FooterItem.astro";

const infoFooter = {
    title: "Contactez-nous",
    adresse: "7 Rue des Tulipes, 01100 Oyonnax",
    number: "07 58 82 46 05",
};

const solutionLink = {
    title: "Solutions",
    links: [
        { text: "Digitale", href: "#digitale" },
        { text: "Sécurité éléctronique", href: "#securite-electronique" },
        { text: "Gestion d'encaissement", href: "#gestion-encaissement" },
        { text: "Informatique & Télécom", href: "#informatique-telecom" },
    ],
};

const about = {
    title: "À propos",
    links: [{ text: "À propos de nous", href: "/blog" }],
};

const logos = [
    { name: "logo-linkedin", href: "#" },
    { name: "logo-instagram", href: "#" },
    { name: "logo-twitter", href: "#" },
];
---

<footer class="bg-gray-900 text-white py-10">
    <div class="container mx-auto px-8">
        <div class="flex flex-wrap gap-10">
            <FooterBrand
                image={aySolutionLogo}
                logos={logos}
                copyright="© AY SOLUTION, Inc. All rights reserved"
            />
            <FooterContact
                title={infoFooter.title}
                ,
                adresse={infoFooter.adresse}
                ,
                number={infoFooter.number}
            />
            <FooterItem title={solutionLink.title} links={solutionLink.links} />
            <FooterItem title={about.title} links={about.links} />
        </div>
    </div>
</footer>
