---
import { Image } from "astro:assets";
import heroImage from "../content/img/hero.png";
import customer1 from "../content/img/customers/customer-1.jpg";
import customer2 from "../content/img/customers/customer-2.jpg";
import customer3 from "../content/img/customers/customer-3.jpg";
import customer4 from "../content/img/customers/customer-4.jpg";
import customer5 from "../content/img/customers/customer-5.jpg";
import customer6 from "../content/img/customers/customer-6.jpg";
import "../styles/style.css";
---

<section class="bg-sky-100 pt-16 pb-24">
    <div
        class="max-w-screen-2xl mx-auto grid grid-cols-2 items-center gap-24 my-0 py-0 px-8 lg:ga"
    >
        <div>
            <h1 class="text-8xl text-sky-700 tracking-tighter font-bold mb-20">
                Transformez votre entreprise avec notre expertise
            </h1>
            <p class="text-4xl leading-normal mb-20">
                Services complets : Sécurité éléctronique, Informatique &
                Télécom, Digitale, Gestion d'encaissement
            </p>
            <a
                href="#"
                class="inline-block rounded-xl bg-sky-400 px-5 py-4 text-4xl font-semibold text-white hover:bg-sky-800 active:bg-sky-800 transition-colors duration-300 mr-4"
                >Contactez-nous: 07025026014</a
            >
            <a
                href="#nos-solutions"
                class="inline-block rounded-xl bg-white px-5 py-4 text-4xl font-semibold text-black shadow-sm hover:bg-sky-100 hover:ring-4 hover:ring-inset hover:ring-white active:bg-sky-100 transition-colors duration-300"
                >En savoir plus &darr;</a
            >
            <div class="flex items-center gap-4 mt-32">
                <div class="flex">
                    <Image
                        src={customer1}
                        alt="customer"
                        class="h-20 w-20 rounded-full -mr-4 border-solid"
                    />
                    <Image
                        src={customer2}
                        alt="customer"
                        class="h-20 w-20 rounded-full -mr-4 border-4 border-solid border-white"
                    />
                    <Image
                        src={customer3}
                        alt="customer"
                        class="h-20 w-20 rounded-full -mr-4 border-4 border-solid border-white"
                    />
                    <Image
                        src={customer4}
                        alt="customer"
                        class="h-20 w-20 rounded-full -mr-4 border-4 border-solid border-white"
                    />
                    <Image
                        src={customer5}
                        alt="customer"
                        class="h-20 w-20 rounded-full -mr-4 border-4 border-solid border-white"
                    />
                    <Image
                        src={customer6}
                        alt="customer"
                        class="h-20 w-20 rounded-full"
                    />
                </div>
                <p class="text-3xl font-semibold">
                    <span class="text-sky-500 font-bold">60+ </span>entreprise
                    nous font confiance
                </p>
            </div>
        </div>
        <div>
            <Image src={heroImage} alt="Hero image" />
        </div>
    </div>
</section>
