---
const navLinks = [
    { text: "Acceuil", href: "/", style: "text-gray-800 hover:text-sky-800" },
    {
        text: "Nos solutions",
        href: "#nos-solutions",
        style: "text-gray-800 hover:text-sky-800",
    },
    {
        text: "Témoignages",
        href: "#témoignages",
        style: "text-gray-800 hover:text-sky-800",
    },
    { text: "Blog", href: "/blog", style: "text-gray-800 hover:text-sky-800" },
    { text: "Demandez un devis", href: "#demandez-un-devis", isButton: true },
];
---

<div class="flex items-center gap-8">
    {
        navLinks.map((link) =>
            link.isButton ? (
                <a
                    href={link.href}
                    class="inline-block rounded-xl bg-sky-400 text-white py-3 px-6 font-medium text-2xl hover:bg-sky-800 active:bg-sky-800 transition-colors duration-300"
                >
                    {link.text}
                </a>
            ) : (
                <a
                    href={link.href}
                    class={`inline-block font-medium text-2xl sm:text-3xl transition-colors duration-300 ${link.style} active:text-sky-800`}
                >
                    {link.text}
                </a>
            ),
        )
    }
</div>
