---
import { Image } from "astro:assets";
import dave from "../content/img/customers/dave.jpg";
import hannah from "../content/img/customers/hannah.jpg";
import steve from "../content/img/customers/steve.jpg";
import ben from "../content/img/customers/ben.jpg";
import gallery1 from "../content/img/gallery/gallery-1.jpg";
import gallery2 from "../content/img/gallery/gallery-2.jpg";
import gallery3 from "../content/img/gallery/gallery-3.jpg";
import gallery4 from "../content/img/gallery/gallery-4.jpg";
import gallery5 from "../content/img/gallery/gallery-5.jpg";
import gallery6 from "../content/img/gallery/gallery-6.jpg";
import gallery7 from "../content/img/gallery/gallery-7.jpg";
import gallery8 from "../content/img/gallery/gallery-8.jpg";
import gallery9 from "../content/img/gallery/gallery-9.jpg";
import gallery10 from "../content/img/gallery/gallery-10.jpg";
import gallery11 from "../content/img/gallery/gallery-11.jpg";

const testimonials = [
    {
        src: dave,
        name: "Dave Bryson",
        text: "Inexpensive, healthy and great-tasting meals, without even having to order manually! It feels truly magical.",
    },
    {
        src: hannah,
        name: "Hannah Smith",
        text: "The AI algorithm is crazy good, it chooses the right meals for me every time. It's amazing not to worry about food anymore!",
    },
    {
        src: steve,
        name: "Steve Miller",
        text: "Omnifood is a life saver! I just started a company, so there's no time for cooking. I couldn't live without my daily meals now!",
    },
    {
        src: ben,
        name: "Ben Hadley",
        text: "I got Omnifood for the whole family, and it frees up so much time! Plus, everything is organic and vegan and without plastic.",
    },
];
---

<section class="grid grid-cols-2 items-center bg-sky-100">
    <div class="p-24">
        <!-- heading Testimonial -->
        <span
            class="block text-3xl text-sky-500 font-medium uppercase mb-6 tracking-wide"
            >Témoignages</span
        >
        <h2 class="text-7xl text-sky-700 tracking-tighter font-bold mb-24">
            L'expérience de nos clients avec notre service
        </h2>
        <!-- Testimonial container -->
        <div class="grid grid-cols-2 gap-x-32 gap-y-20">
            {
                testimonials.map((testimonial) => (
                    <figure>
                        <Image
                            src={testimonial.src}
                            alt={`Image of ${testimonial.name}`}
                            class="w-16 rounded-full mb-4"
                        />
                        <blockquote class="text-4xl leading-normal mb-4">
                            {testimonial.text}
                        </blockquote>
                        <p class="text-3xl">— {testimonial.name}</p>
                    </figure>
                ))
            }

            <!-- <figure>
                <Image
                    src={dave}
                    alt="image for digitale"
                    class="w-16 rounded-full mb-4"
                />
                <blockquote class="text-4xl leading-normal mb-4">
                    Inexpensive, healthy and great-tasting meals, without even
                    having to order manually! It feels truly magical.
                </blockquote>
                <p class="text-3xl">— Dave Bryson</p>
            </figure>
            <figure>
                <Image
                    src={hannah}
                    alt="image for digitale"
                    class="w-16 rounded-full mb-4"
                />
                <blockquote class="text-4xl leading-normal mb-4">
                    The AI algorithm is crazy good, it chooses the right meals
                    for me every time. It's amazing not to worry about food
                    anymore!
                </blockquote>
                <p class="text-3xl">— Ben Hadley</p>
            </figure>
            <figure>
                <Image
                    src={steve}
                    alt="image for digitale"
                    class="w-16 rounded-full mb-4"
                />
                <blockquote class="text-4xl leading-normal mb-4">
                    Omnifood is a life saver! I just started a company, so
                    there's no time for cooking. I couldn't live without my
                    daily meals now!
                </blockquote>
                <p class="text-3xl">— Steve Miller</p>
            </figure>
            <figure>
                <Image
                    src={ben}
                    alt="image for digitale"
                    class="w-16 rounded-full mb-4"
                />
                <blockquote class="text-4xl leading-normal mb-4">
                    I got Omnifood for the whole family, and it frees up so much
                    time! Plus, everything is organic and vegan and without
                    plastic.
                </blockquote>
                <p class="text-3xl">— Hannah Smith</p>
            </figure>
        </div> -->
        </div>
        <!-- Gallery -->
        <div class="grid grid-cols-3 gap-4 p-4">
            <figure class="overflow-hidden">
                <Image
                    src={gallery1}
                    alt="image for gallery"
                    class="transform transition-transform duration-300 hover:scale-110"
                />
            </figure>
            <figure class="overflow-hidden">
                <Image
                    src={gallery2}
                    alt="image for gallery"
                    class="transform transition-transform duration-300 hover:scale-110"
                />
            </figure>
            <figure class="overflow-hidden">
                <Image
                    src={gallery3}
                    alt="image for gallery"
                    class="transform transition-transform duration-300 hover:scale-110"
                />
            </figure>
            <figure class="overflow-hidden">
                <Image
                    src={gallery4}
                    alt="image for gallery"
                    class="transform transition-transform duration-300 hover:scale-110"
                />
            </figure>
            <figure class="overflow-hidden">
                <Image
                    src={gallery5}
                    alt="image for gallery"
                    class="transform transition-transform duration-300 hover:scale-110"
                />
            </figure>
            <figure class="overflow-hidden">
                <Image
                    src={gallery5}
                    alt="image for gallery"
                    class="transform transition-transform duration-300 hover:scale-110"
                />
            </figure>
            <figure class="overflow-hidden">
                <Image
                    src={gallery6}
                    alt="image for gallery"
                    class="transform transition-transform duration-300 hover:scale-110"
                />
            </figure>
            <figure class="overflow-hidden">
                <Image
                    src={gallery7}
                    alt="image for gallery"
                    class="transform transition-transform duration-300 hover:scale-110"
                />
            </figure>
            <figure class="overflow-hidden">
                <Image
                    src={gallery8}
                    alt="image for gallery"
                    class="transform transition-transform duration-300 hover:scale-110"
                />
            </figure>
            <figure class="overflow-hidden">
                <Image
                    src={gallery9}
                    alt="image for gallery"
                    class="block w-full transition-all duration-400"
                />
            </figure>
            <figure class="overflow-hidden">
                <Image
                    src={gallery10}
                    alt="image for gallery"
                    class="block w-full transition-all duration-400"
                />
            </figure>
            <figure class="overflow-hidden">
                <Image
                    src={gallery11}
                    alt="image for gallery"
                    class="transform transition-transform duration-300 hover:scale-110"
                />
            </figure>
        </div>
    </div>
</section>
