---
import { Image } from "astro:assets";

import HeaderSection from "./HeaderSection.astro";

import dave from "../content/img/customers/dave.jpg";
import hannah from "../content/img/customers/hannah.jpg";
import steve from "../content/img/customers/steve.jpg";
import ben from "../content/img/customers/ben.jpg";

import gallery1 from "../content/img/gallery/gallery-1.jpg";
import gallery2 from "../content/img/gallery/gallery-2.jpg";
import gallery3 from "../content/img/gallery/gallery-3.jpg";
import gallery4 from "../content/img/gallery/gallery-4.jpg";
import gallery5 from "../content/img/gallery/gallery-5.jpg";
import gallery6 from "../content/img/gallery/gallery-6.jpg";
import gallery7 from "../content/img/gallery/gallery-7.jpg";
import gallery8 from "../content/img/gallery/gallery-8.jpg";
import gallery9 from "../content/img/gallery/gallery-9.jpg";
import gallery10 from "../content/img/gallery/gallery-10.jpg";
import gallery11 from "../content/img/gallery/gallery-11.jpg";

const testimonials = [
    {
        src: dave,
        name: "Aissata Diallo",
        text: "La pose de mon interphone avec cette société c'est passé à merveille je l'est recommande fortement, le travail est propre et très bien fait de plus ils sont sérieux.",
    },
    {
        src: hannah,
        name: "Gul Erk",
        text: "Bonjour, j’ai fais réparer mon téléphone et franchement je ne regrette pas. Très professionnel travail très propres. Je recommande les yeux fermés",
    },
    {
        src: steve,
        name: "Tansu Argac",
        text: "Je recommande fortement merci pour l’installation de mes caméras furkan et omer et très bon binôme professionnel et toujours à l’écoute.",
    },
    {
        src: ben,
        name: "Nicovali Longevolier",
        text: "Compétences, amabilité, sérieux, rapidité ET tarifs qui défient toute concurrence. Je recommande + + +",
    },
];

const galleryImages = [
    gallery1,
    gallery2,
    gallery3,
    gallery4,
    gallery5,
    gallery6,
    gallery7,
    gallery8,
    gallery9,
    gallery10,
    gallery11,
    gallery11,
];

const HeadersubTitle = "Témoignages";
const HeaderTitle = "L'expérience de nos clients avec notre service";
---

<section class="bg-sky-100 py-24 px-8" id="témoignages">
    <HeaderSection HeadersubTitle={HeadersubTitle} HeaderTitle={HeaderTitle} />

    <div class="container mx-auto">
        {
            testimonials.map((testimonial) => (
                <div class="flex flex-col mb-12">
                    <figure>
                        <Image
                            src={testimonial.src}
                            alt={`Image of ${testimonial.name}`}
                            class="w-[8%] rounded-full mb-4"
                        />
                    </figure>
                    <blockquote class="text-2xl leading-normal mb-4">
                        {testimonial.text}
                    </blockquote>
                    <p class="text-xl">— {testimonial.name}</p>
                </div>
                <div>
                    <img />
                </div>
            ))
        }
    </div>

    <!-- <div class="p-24 lg:p-20">
        <div class="grid grid-cols-2 gap-x-32 gap-y-20 lg:gap-x-10">
            {
                testimonials.map((testimonial) => (
                    <figure>
                        <Image
                            src={testimonial.src}
                            alt={`Image of ${testimonial.name}`}
                            class="w-16 rounded-full mb-4"
                        />
                        <blockquote class="text-3xl leading-normal mb-4 lg:text-2xl">
                            {testimonial.text}
                        </blockquote>
                        <p class="text-2xl lg:text-xl">— {testimonial.name}</p>
                    </figure>
                ))
            }
        </div>
    </div> -->
    <!-- Gallery -->
    <!-- <div class="grid grid-cols-3 gap-4 p-4 lg:grid-cols-2">
        {
            galleryImages.map((image) => (
                <figure class="overflow-hidden">
                    <Image
                        src={image}
                        alt="Gallery image"
                        class="transform transition-transform duration-300 hover:scale-110"
                    />
                </figure>
            ))
        }
    </div> -->
</section>
